<div class="modal-content">
  <div class="modal-header">
    <h1 class="text">Would you like to make an appointment for {{date | date}}?</h1>
  </div>
  <div class="modal-body">
    <form [formGroup]="appointmentForm">
      <p>Choose a convenient time slot:</p>

      <mat-form-field>
        <mat-select formControlName="appointmentDateTime" placeholder="Choose an option">
          <mat-option *ngFor="let time of TIME_SLOTS" value="{{time}}"
                      [disabled]="taken.has(time)" >{{time}}:00</mat-option>
        </mat-select>
        <mat-error *ngIf="form.appointmentDateTime.errors?.required">
          Time is required
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="patientFirstName" matInput placeholder="Enter your name here">
        <mat-error *ngIf="form.patientFirstName.errors?.required">
          Name is required
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input formControlName="patientLastName" matInput placeholder="Enter your surname here">
        <mat-error *ngIf="form.patientLastName.errors?.required">
          Surname is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="patientEmail" matInput placeholder="Enter your email here">
        <mat-error *ngIf="form.patientEmail.errors?.required">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Describe your problem:</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

    </form>
    <div class="modal-footer">
      <button type="button" (click)="close()">Close</button>
      <button type="button" (click)="confirm()">Confirm</button>
    </div>
  </div>
</div>
